article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
a:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
a:hover,a:active{outline:0;}
sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
img{max-width:100%;height:auto;border:0;-ms-interpolation-mode:bicubic;}
button,input,select,textarea{margin:0;font-size:100%;vertical-align:middle;}
button,input{*overflow:visible;line-height:normal;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;}
input[type="search"]{-webkit-appearance:textfield;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none;}
textarea{overflow:auto;vertical-align:top;}
.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";}
.clearfix:after{clear:both;}
.pull-right{float:right;}
.pull-left{float:left;}
.hide{display:none;}
.show{display:block;}
.invisible{visibility:hidden;}
.center{margin:0 auto;text-align:center;}
p{margin:0 0 16px;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:16px;line-height:32px;}p small{font-size:14px;color:#999999;}
.lead{margin-bottom:32px;font-size:20px;font-weight:200;line-height:48px;}
h1,h2,h3,h4,h5,h6{margin:0;font-weight:bold;color:#333333;text-rendering:optimizelegibility;}h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{font-weight:normal;color:#999999;}
h1{font-size:30px;line-height:64px;}h1 small{font-size:18px;}
h2{font-size:24px;line-height:64px;}h2 small{font-size:18px;}
h3{line-height:48px;font-size:18px;}h3 small{font-size:14px;}
h4,h5,h6{line-height:32px;}
h4{font-size:14px;}h4 small{font-size:12px;}
h5{font-size:12px;}
h6{font-size:11px;color:#999999;text-transform:uppercase;}
.page-header{padding-bottom:31px;margin:32px 0;border-bottom:1px solid #eeeeee;}
.page-header h1{line-height:1;}
ul,ol{padding:0;margin:0 0 16px 25px;}
ul ul,ul ol,ol ol,ol ul{margin-bottom:0;}
ul{list-style:disc;}
ol{list-style:decimal;}
li{line-height:32px;}
ul.unstyled,ol.unstyled{margin-left:0;list-style:none;}
dl{margin-bottom:32px;}
dt,dd{line-height:32px;}
dt{font-weight:bold;}
dd{margin-left:16px;}
hr{margin:32px 0;border:0;border-top:1px solid #eeeeee;border-bottom:1px solid #ffffff;}
strong{font-weight:bold;}
em{font-style:italic;}
.muted{color:#999999;}
abbr{font-size:90%;text-transform:uppercase;border-bottom:1px dotted #ddd;cursor:help;}
blockquote{padding:0 0 0 15px;margin:0 0 32px;border-left:5px solid #eeeeee;}blockquote p{margin-bottom:0;font-size:16px;font-weight:300;line-height:40px;}
blockquote small{display:block;line-height:32px;color:#999999;}blockquote small:before{content:'\2014 \00A0';}
blockquote.pull-right{float:right;padding-left:0;padding-right:15px;border-left:0;border-right:5px solid #eeeeee;}blockquote.pull-right p,blockquote.pull-right small{text-align:right;}
q:before,q:after,blockquote:before,blockquote:after{content:"";}
address{display:block;margin-bottom:32px;line-height:32px;font-style:normal;}
small{font-size:100%;}
cite{font-style:normal;}
span.important{color:#d83a2e;}
html{background-color:#f5f5f5;}
body{width:960px;margin:0 auto;}
.container{padding:60px;padding-bottom:15px;margin:30px 0 30px 0;background-color:rgba(255, 255, 255, 0.9);-webkit-box-shadow:#555555 2px 2px 6px 0;-moz-box-shadow:#555555 2px 2px 6px 0;box-shadow:#555555 2px 2px 6px 0;}
.navbar{padding-left:60px;}.navbar li{padding-right:20px;float:left;}
.navbar a{color:#999999;font-family:"Lucida Grande",sans-serif;font-size:19.2px;}.navbar a:hover{text-decoration:none;border:none;color:#222222;}
header{padding-top:15px;padding-bottom:15px;font-family:"Lucida Grande",sans-serif;font-weight:bold;}header a:hover{text-decoration:none;}
header h1{padding-top:48px;padding-bottom:20px;font-size:40px;letter-spacing:3px;line-height:31.4285712px;}
footer{padding-top:15px;}footer p{font-size:12.8px;letter-spacing:1px;}
.post h1{padding-top:33.6px;padding-bottom:14px;font-size:28px;letter-spacing:3px;line-height:21.99999984px;}
article{padding-top:15px;padding-bottom:15px;}article h1{padding-top:24px;padding-bottom:10px;font-size:20px;letter-spacing:3px;line-height:15.7142856px;}
article h2{padding-top:19.2px;padding-bottom:14.4px;font-size:25.6px;letter-spacing:1.5px;line-height:12.57142848px;}
article code{padding:2px;font-family:Monaco,"Courier New",monospace;font-size:12px;background-color:#f8f8ff;border:solid 1px #eaeaea;}
article pre{padding:20px;background-color:#f8f8ff;border:solid 1px #dddddd;}article pre code{border:none;}
.post-list li{margin-left:25px;}
.post-list .post-title{font-size:22.4px;color:#333333;}.post-list .post-title:hover{color:#595959;border:none;}
.post-list .post-list-title{font-size:19.2px;}.post-list .post-list-title:hover{color:#2c547e;}
.post-list h1{padding-top:33.6px;padding-bottom:14px;font-size:28px;letter-spacing:3px;line-height:21.99999984px;}
.post-list h2{padding-top:26.4px;padding-bottom:11px;font-size:22px;letter-spacing:3px;line-height:17.28571416px;}
.post-list .read-more{color:#999999;}
a{color:#6194c8;text-decoration:none;}a:hover{color:#407ab6;text-decoration:none;border-bottom:1px dashed #555555;}
