.h1_with_size(@font-size) {
	font-size: @font-size;
	letter-spacing: 3px;
	line-height: 22px;
}

span.important {
	color: @red;
}

html {
	background-color: @pageBackgroundColor;	
}

body {
	width: 960px;
	margin: 0 auto;
}

.container {
	padding: @gridColumnWidth;
	padding-bottom: @gridColumnWidth / 4;
	
	@margin: @gridColumnWidth / 2;
	margin: @margin 0 @margin 0;
	
	background-color: @containerBackgroundColor;
	#translucent > .background(@containerBackgroundColor, 0.9);
	
	.box-shadow(@gray 2px 2px 6px 0);
}

/*
 * Header
*/

header {
	padding-top: @gridColumnWidth / 4;
	padding-bottom: @gridColumnWidth / 4;
		
	font-family: @titleFontFamily;
	font-weight: bold;

	a:hover {
		text-decoration: none;
	}

	h1 {
		.h1_with_size(48px);
	}
}

/*
 * Footer
*/

footer {
	padding-top: @gridColumnWidth / 4;

	p {
		font-size: 0.80 * @baseFontSize;
		letter-spacing: 1px;
	}
}

/*
 * Post
*/

.post {
	h1 {
		.h1_with_size(30px);
	}
}

article {
	padding-top: @gridColumnWidth / 4;
	padding-bottom: @gridColumnWidth / 4;
}

/*
 * Posts
*/

.post-list {
	padding-top: @gridColumnWidth / 4;
	padding-bottom: @gridColumnWidth / 4;
	margin-bottom: @gridColumnWidth / 2;
	
	h3 {
		color: @grayDarker;
	}

	ul {
		list-style-type: none;
		
		li {
			line-height: 1.4em;
		}
	}
}

/*
 * Links
*/

a {
  color: @linkColor;
  text-decoration: none;
	
	&:hover {
	  color: @linkColorHover;
	  text-decoration: underline;
	}
}