body {
	width: 800px;
	margin: 0 auto;
	
	background-color: @backgroundColor;
}

.container {
	padding-top: @gridColumnWidth / 4;
	padding-bottom: @gridColumnWidth / 4;
	padding-left: @gridColumnWidth / 2;
	padding-right: @gridColumnWidth / 2;
	margin-top: @gridColumnWidth / 2;
	margin-bottom: @gridColumnWidth / 2;

	background-color: darken(@backgroundColor, 8%);
	
	border-radius: 10px;
	-webkit-border-radius: 10px; 
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
}

/* LINKS */

a {
  color: @linkColor;
  text-decoration: none;
}

a:hover {
  color: @linkColorHover;
  text-decoration: underline;
}

/* HEADER */

header {
	padding-top: @gridColumnWidth / 4;
	padding-bottom: @gridColumnWidth / 4;
	
	border-bottom: 1px solid #999;
}

header a {
	text-decoration: none;
}

.main-header {
	font-family: 'EB Garamond', sans-serif;
}

.main-header h1 {
	font-size: 40px;
	letter-spacing: 3px;
}

/* FOOTER */

footer {
	padding-top: @gridColumnWidth / 4;
	border-top: 1px solid #999;
}

footer p {
	font-size: 0.85 * @baseFontSize;
	letter-spacing: 1px;
}

/* POST */

article {
	padding-top: @gridColumnWidth / 4;
	padding-bottom: @gridColumnWidth / 4;
}

/* POST-LIST */

.post-list {
	padding-top: @gridColumnWidth / 4;
	padding-bottom: @gridColumnWidth / 4;
	margin-bottom: @gridColumnWidth / 2;
	
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
}

.post-list h3 {
	color: @grayDarker;
}

.post-list ul {
	list-style-type: none;
}