.h1_with_size(@font-size) {
	font-size: @font-size;
	letter-spacing: 3px;
	line-height: 22px;
}

span.important {
	color: @red;
}

html {
	background-color: @pageBackgroundColor;	
}

body {
	width: 960px;
	margin: 0 auto;
}

.container {
	padding: @gridColumnWidth;
	padding-bottom: @gridColumnWidth / 4;
	
	@margin: @gridColumnWidth / 2;
	margin: @margin 0 @margin 0;
	
	#translucent > .background(@containerBackgroundColor, 0.9);
	
	.box-shadow(@gray 2px 2px 6px 0);
}

/*
 * Header
*/

.navbar {
	padding-left: @gridColumnWidth;
	
	li {
		padding-right: @gridGutterWidth;
		.pull-left();
	}
	
	a {
		color: @grayLight;
		font-family: @titleFontFamily;
		font-size: @baseFontSize * 1.2;
		
		&:hover {
			text-decoration: none;
			border: none;
			color: @grayDarker;
		}
	}
}

header {
	padding-top: @gridColumnWidth / 4;
	padding-bottom: @gridColumnWidth / 4;
		
	font-family: @titleFontFamily;
	font-weight: bold;

	a:hover {
		text-decoration: none;
	}

	h1 {
		.h1_with_size(40px);
	}
}

/*
 * Footer
*/

footer {
	padding-top: @gridColumnWidth / 4;

	p {
		font-size: 0.80 * @baseFontSize;
		letter-spacing: 1px;
	}
}

/*
 * Post
*/

.post {
	h1 {
		.h1_with_size(28px);
	}
}

article {
	padding-top: @gridColumnWidth / 4;
	padding-bottom: @gridColumnWidth / 4;
}

/*
 * Posts
*/

.post-list {
	
	a {
		font-size: @baseFontSize * 1.2;
		.transition(color 1s ease-in);
		
		&:hover {
			color: darken(@linkColorHover, 15%);
		}
	}
}

/*
 * Links
*/

a {
  color: @linkColor;
  text-decoration: none;
	
	&:hover {
		color: @linkColorHover;
		text-decoration: none;
		border-bottom: 1px dashed @gray;
	}
}