/*
 * Some helpers. Will move them to another file when necessary.
*/

.h1_with_size(@font-size) {
	padding-top: @font-size * 1.2;
	padding-bottom: @font-size * 0.5;
	font-size: @font-size;
	letter-spacing: 3px;
	line-height: @font-size * 0.78571428;
}

span.important {
	color: lighten(@red, 15%);
}

/*
 * Main stuff.
*/

html {
	background-color: @pageBackgroundColor;	
}

body {
	width: 960px;
	margin: 0 auto;
}

.container {
	padding: @gridColumnWidth;
	padding-bottom: @gridColumnWidth / 4;
	
	@margin: @gridColumnWidth / 2;
	margin: @margin 0 @margin 0;
	
	#translucent > .background(@containerBackgroundColor, 0.9);
	
	.box-shadow(@gray 2px 2px 6px 0);
}

/*
 * Header.
*/

.navbar {
	padding-left: @gridColumnWidth;
	
	li {
		padding-right: @gridGutterWidth;
		.pull-left();
	}
	
	a {
		color: @grayLight;
		font-family: @titleFontFamily;
		font-size: @baseFontSize * 1.2;
		
		&:hover {
			text-decoration: none;
			border: none;
			color: @grayDarker;
		}
	}
}

header {
	padding-top: @gridColumnWidth / 4;
	padding-bottom: @gridColumnWidth / 4;
		
	font-family: @titleFontFamily;
	font-weight: bold;

	a:hover {
		text-decoration: none;
	}

	h1 {
		.h1_with_size(40px);
	}
}

/*
 * Footer.
*/

footer {
	padding-top: @gridColumnWidth / 4;

	p {
		font-size: 0.80 * @baseFontSize;
		letter-spacing: 1px;
	}
}

/*
 * Post.
*/

.post {
	h1 {
		.h1_with_size(28px);
	}
}

article {
	padding-top: @gridColumnWidth / 4;
	padding-bottom: @gridColumnWidth / 4;
	
	h1 {
		.h1_with_size(20px);
	}
	
	h2 {
		padding-top: @baseFontSize * 1.2;
		padding-bottom: @baseFontSize * 0.9;
		font-size: @baseFontSize * 1.6;
		letter-spacing: 1.5px;
		line-height: @baseFontSize * 0.78571428;
	}
	
	code {
		padding: @codePadding;
		font-family: @monospaceFontFamily;
		font-size: @monospaceFontSize;
		background-color: @codeAndPreBackground;
		border: solid 1px @codeBorder;
	}
	
	pre {
		padding: @prePadding;
		background-color: @codeAndPreBackground;
		border: solid 1px @preBorder;
		
		code {
			border: none;
		}
	}
}

/*
 * Posts list.
*/

.post-list {
		
	li {
		margin-left: 25px; // The same used in bootstrap/type.less
	}
	
	.post-title {
		font-size: @baseFontSize * 1.4;
		color: @grayDark;
		
		&:hover {
			color: lighten(@grayDark, 15%);
			border: none;
		}
	}
	
	.post-list-title {
		font-size: @baseFontSize * 1.2;
		
		&:hover {
			color: darken(@linkColorHover, 15%);
		}
	}
		
	h1 {
		.h1_with_size(28px);
	}
	
	h2 {
		.h1_with_size(22px);
	}
	
	.read-more {
		color: @grayLight;
	}
}

/*
 * Links.
*/

a {
  color: @linkColor;
  text-decoration: none;
	
	&:hover {
		color: @linkColorHover;
		text-decoration: none;
		border-bottom: 1px dashed @gray;
	}
}