// Variables used only on my blog.

@monospaceFontSize:			12px;
@monospaceFontFamily:		Monaco, "Courier New", monospace;

// Variables used for <code> snippets and <pre> blocks.
@codePadding: 2px;
@prePadding: 20px;

@codeAndPreBackground: #f8f8ff;
@preBorder: #DDD;
@codeBorder: #EAEAEA;