<!DOCTYPE html>
<html lang="en">
<head>
	<link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="author" content="Carlos Agarie">
	
	<title>{{ page.title }}</title>
	
	<link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen" charset="utf-8">
</head>
<body>

	<header class='main-header'>
		<a href='/'><h1 class='center'>So Zetta Slow</h1></a>
	</header>