<!DOCTYPE html>
<html lang="en">
<head>	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="author" content="Carlos Agarie">
	
	<title>{{ page.title }}</title>
	
	<link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="/css/pygments/default.css" type="text/css" media="no title" charset="utf-8">
</head>
<body>

	<header class='main-header'>
		<a href='/'><h1 class='center'>So Zetta Slow <br><small>東江のブログ</small></h1></a>
		
		<a href="https://github.com/agarie"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
	</header>
	
	<ul class='navbar unstyled pull-left'>
		<li><a href='/'>Home</a></li>
		<li><a href='/posts'>Posts</a></li>
		<li><a href='/about'>About me</a></li>
		<li><a href='/about/contact.html'>Contact</a></li>
	</ul>