<ul class="post-list unstyled">
{% for post in site.posts %}
	
	{% capture post_year %}
		{{ post.date | date: "%Y" }}
	{% endcapture %}
	
	{% unless year == post_year %}
		{% assign year = post_year %}
		<h1>{{ year }}</h1>
	{% endunless %}
	
	{% capture post_month %}
		{{ post.date | date: "%B" }}
	{% endcapture %}
	
	{% unless month == post_month %}
		{% assign month = post_month %}
		<h2>{{ month }}</h2>
	{% endunless %}

	<li>
		<a href="{{ post.url }}"><span class='important'>{{ post.date | date: "%d" }}</span> {{ post.title }}</a>
	</li>

{% endfor %}
</ul>