<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="author" content="Carlos Agarie">
	
	<title>{{ page.title }}</title>
	
	<link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen" charset="utf-8">
</head>
<body>
	
	<div class='container'>
		<!-- Post content -->
		
		<header>
			<a href='/' class='no-style'><h1>{{ page.title }}</h1></a>
		</header>
		
		<article class=''>

			{{content}}
		
		</article>
	
		<!-- Post list -->
		{% include post-list.html %}
	</div>
		
	<footer class='center'>
		<p>Carlos Agarie &copy; 2012</p>
	</footer>
	
</body>
</html>